In [2]:
import pyquran as q

In [67]:
d_abajad = {'ا': 1,
            'ب': 2,
            'ج': 3,
            'د': 4,
            'ه': 5,
            'و': 6,
            'ز': 7,
            'ح': 8,
            'ط': 9,
            'ي': 10,
            'ك': 20,
            'ل': 30,
            'م': 40,
            'ن': 50,
            'س': 60,
            'ع': 70,
            'ف': 80,
            'ص': 90,
            'ق': 100,
            'ر': 200,
            'ش': 300,
            'ت': 400,
            'ث': 500,
            'خ': 600,
            'ذ': 700,
            'ض': 800,
            'ظ': 900,
            'غ': 1000,
            'ء': 0,
            'ئ': 0,
            'ؤ': 0,
            'ة':5,
            'ى':1,
            'آ':1,
            'أ':1,
            'إ':1,
            ' ':0,
            'ـ':0,
            'ّ':0,
            'َ':0,
            'ً':0,
            'ئ':1,
            'ٔ' : 0,
            'ء' : 1,
            'ئ' : 1,
            'ؤ' : 1,
            'آ' : 1,
            'أ' : 1,
            'إ' : 1,
            'آ' : 1,
            'ى' : 10,
            }

In [48]:
ist

{'ٔ': 0}

In [46]:
ist = {}
def hisab_sarir(s):
    """Hisab sarir"""
    sum = 0
    for i in s:
        try:
            sum += d_abajad[i]
        except:
            ist[i] = 0
            sum += 0
    return sum

In [17]:
r  = q.quran.get_sura(108, with_tashkeel=False)

In [18]:
r

['إنا أعطينك الكوثر', 'فصل لربك وانحر', 'إن شانئك هو الأبتر']

In [21]:
def get_hisab_sura(sura_num):
    r = q.quran.get_sura(sura_num, with_tashkeel=False)
    """Hisab sarir"""
    l = [hisab_sarir(i) for i in r]
    return r,l, sum(l)

In [29]:
get_hisab_sura(114)

(['قل أعوذ برب الناس',
  'ملك الناس',
  'إله الناس',
  'من شر الوسواس الخناس',
  'الذى يوسوس فى صدور الناس',
  'من الجنة والناس'],
 [1253, 232, 178, 1496, 1397, 327],
 4883)

In [68]:
import pandas as pd
df = pd.DataFrame()

for i in range(1,115):
    r,l, sum_l = get_hisab_sura(i)
    d = {'sura_num':i, 'sura_name':r, 'sura_hisab':sum_l, 'sura_ayat':l}
    df = pd.concat([df, pd.DataFrame(d)])
    
df

    sura_num                 sura_name  sura_hisab  sura_ayat
0          1    بسم الله الرحمن الرحيم       10143        786
1          1      الحمد لله رب العلمين       10143        581
2          1             الرحمن الرحيم       10143        618
3          1             ملك يوم الدين       10143        241
4          1    إياك نعبد وإياك نستعين       10143        836
..       ...                       ...         ...        ...
1        114                 ملك الناس        4901        232
2        114                 إله الناس        4901        178
3        114      من شر الوسواس الخناس        4901       1496
4        114  الذى يوسوس فى صدور الناس        4901       1415
5        114           من الجنة والناس        4901        327

[6236 rows x 4 columns]

In [62]:
ist

{'ٔ': 0}

In [69]:
df.to_csv('sura_hisab.csv')

In [73]:
def look_num_sura(num):
    return df[df['sura_hisab'] == num]

def look_num_aya(num):
    return df[df['sura_ayat'] == num]


look_num_aya(107)

Empty DataFrame
Columns: [sura_num, sura_name, sura_hisab, sura_ayat]
Index: []

In [75]:
#frequence of sura_ayat# top 10

df['sura_ayat'].value_counts().head(10)

1563    32
1685    13
806     10
734      9
2290     8
2013     8
48       7
2293     7
1296     6
1026     6
Name: sura_ayat, dtype: int64

In [77]:
df['sura_hisab'].value_counts().head(10)

1824035    286
391800     227
1054249    206
1055860    200
259589     182
1116328    176
933285     165
387557     135
737638     129
557341     128
Name: sura_hisab, dtype: int64

In [78]:
look_num_sura(1824035)

,sura_num,sura_name,sura_hisab,sura_ayat
0,2,الم,1824035,71
1,2,ذلك الكتب لا ريب فيه هدى للمتقين,1824035,2220
2,2,الذين يؤمنون بالغيب ويقيمون الصلوة ومما رزقنهم...,1824035,3162
3,2,والذين يؤمنون بما أنزل إليك وما أنزل من قبلك و...,1824035,2636
4,2,أولئك على هدى من ربهم وأولئك هم المفلحون,1824035,878
...,...,...,...,...
281,2,يأيها الذين ءامنوا إذا تداينتم بدين إلى أجل مس...,1824035,39232
282,2,وإن كنتم على سفر ولم تجدوا كاتبا فرهن مقبوضة ف...,1824035,11416
283,2,لله ما فى السموت وما فى الأرض وإن تبدوا ما فى ...,1824035,7915
284,2,ءامن الرسول بما أنزل إليه من ربه والمؤمنون كل ...,1824035,6028
285,2,لا يكلف الله نفسا إلا وسعها لها ما كسبت وعليها...,1824035,12858

In [115]:
# ayat with sura_aya  < 100

df[df['sura_ayat'] < 99]

    sura_num   sura_name  sura_hisab  sura_ayat
0          2         الم     1824035         71
0          3         الم     1055860         71
0         20          طه      387557         14
0         29         الم      274020         71
0         30         الم      268148         71
0         31         الم      155334         71
0         32         الم      110422         71
0         36          يس      217041         70
0         40          حم      360486         48
0         41          حم      236413         48
0         42          حم      244375         48
0         43          حم      253828         48
0         44          حم       95869         48
0         45          حم      153303         48
0         46          حم      191868         48
34        80  وأمه وأبيه       46971         76
15        86  وأكيد كيدا       16586         76

In [103]:
horof_num = {}
for i in d_abajad.keys():
    horof_num[ hisab_sarir(i)] = i
    
horof_num

{1: 'إ',
 2: 'ب',
 3: 'ج',
 4: 'د',
 5: 'ة',
 6: 'و',
 7: 'ز',
 8: 'ح',
 9: 'ط',
 10: 'ى',
 20: 'ك',
 30: 'ل',
 40: 'م',
 50: 'ن',
 60: 'س',
 70: 'ع',
 80: 'ف',
 90: 'ص',
 100: 'ق',
 200: 'ر',
 300: 'ش',
 400: 'ت',
 500: 'ث',
 600: 'خ',
 700: 'ذ',
 800: 'ض',
 900: 'ظ',
 1000: 'غ',
 0: 'ٔ'}

In [112]:
asma = ['هو','الله','رحمان', 'رحيم', 'ملك', 
        'قدوس', 'سلام', 'مؤمن', 'مهيمن', 'عزيز',
        'جبار', 'متكبر', 'خالق', 'بارئ', 'مصور',
        'غفار', 'قهار', 'واحد', 'احد', 'صمد',
    'قادر', 'مقتدر', 'مقتصد', 'غفور', 'رؤوف',
    'مالك', 'ذوالجلالوالاكرام','ملك', 'حفيظ', 'محيي',
    'مميت', 'حي', 'قيوم', 'واجد', 'متعال', 'باسط',
    'خافض', 'رافع', 'معز', 'مذل', 'سميع', 'بصير',
    'حكم', 'عدل', 'ذوالعرش', 'المجيد', 'واحد', 'احد',
'ماجد', 'واحد', 'احد', 'الاحد', 'الصمد', 'القادر']

num_asma = [hisab_sarir(i) for i in asma]

asma_num = {}
for i in range(len(asma)):
    asma_num[asma[i]] = num_asma[i]

        
asma_num

{'هو': 11,
 'الله': 66,
 'رحمان': 299,
 'رحيم': 258,
 'ملك': 90,
 'قدوس': 170,
 'سلام': 131,
 'مؤمن': 131,
 'مهيمن': 145,
 'عزيز': 94,
 'جبار': 206,
 'متكبر': 662,
 'خالق': 731,
 'بارئ': 204,
 'مصور': 336,
 'غفار': 1281,
 'قهار': 306,
 'واحد': 19,
 'احد': 13,
 'صمد': 134,
 'قادر': 305,
 'مقتدر': 744,
 'مقتصد': 634,
 'غفور': 1286,
 'رؤوف': 287,
 'مالك': 91,
 'ذوالجلالوالاكرام': 1100,
 'حفيظ': 998,
 'محيي': 68,
 'مميت': 490,
 'حي': 18,
 'قيوم': 156,
 'واجد': 14,
 'متعال': 541,
 'باسط': 72,
 'خافض': 1481,
 'رافع': 351,
 'معز': 117,
 'مذل': 770,
 'سميع': 180,
 'بصير': 302,
 'حكم': 68,
 'عدل': 104,
 'ذوالعرش': 1307,
 'المجيد': 88,
 'ماجد': 48,
 'الاحد': 44,
 'الصمد': 165,
 'القادر': 336}

In [109]:

def transform(num):
    l = []
    i = 0
    while num > 0:
        r = num % 10
        if r > 0:
            l.append(r * 10**i)
        num = num // 10
        i += 1
    return l
    
def istinta9(num):
    l = transform(num)
    l = [horof_num[i] for i in l]
    return l


istinta9(347)

['ز', 'م', 'ش']

In [113]:
df['sura_ayat'].sum()

23369538